<!doctype html>
<html>
	<head>
	<link rel="stylesheet" href="/site.css">
		<title>Blackjack</title>
	</head>
	<h1>Lets Play Blackjack</h1>
	<body>
	<div>
	<h2>Dealer</h2>
	<div>
            {{#dealer.cards}}
              <span class="card">
                {{ visualRep }}
                {{ suit }}
              </span>
            {{/dealer.cards}}
          </div>
	
	<hr>
	<h2>Player</h2>
	<div>
          {{#gambler.cards}}
            <span class="card">
              {{ visualRep }}
              {{ suit }}
           </span>
           
          {{/gambler.cards}}
        </div>
        
		<hr>
	
	<div>
         {{#gamblerhand.values}}
		<div>Player Card Total: {{ . }}</div>
		{{/gamblerhand.values}}
        </div>
        
		<div>
           <h3> Your current bet: {{ currentBet }}</h3>
          <span></span>
          <h3>Cash left: ${{ gambler.availableCash }}</h3>
          </div>
          
        
		{{#betState}}
		<form method="post" action= "/blackjack/operation/bet">
		<button>Bet</button>
		<input autofocus type="number" step="any" name="bet" required>
		</form>
		
		<div>
         {{#dealerhand.values}}
		<div>Dealer Card Total: {{ . }}</div>
		{{/dealerhand.values}}
        </div>
		{{/betState}}
		
 			{{#roundState}}
 		
		<form style="display: inline;" method="post" action= "/blackjack/operation/hit">
		<button>Hit</button>
		</form>
		
		<form style="display: inline;" method="post" action= "/blackjack/operation/stand">
		<button>Stand</button>
		</form>
		
			{{/roundState}}
			
		
	<hr>
	<form method="post" action= "/blackjack/operation/reset">
		<button>New Game</button>
		</form>
	</div>
	</body>
</html>